body{
	margin:0;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;

	overflow: hidden;

}
canvas{
	float:left;
	margin-right: 20px;
}
#whole_container{
	position: absolute;
	width: 100%; height: 100%;
	top:0px;
	-webkit-transition: top 1s ease-in-out;
	-moz-transition: top 1s ease-in-out;
	-ms-transition: top 1s ease-in-out;
	transition: top 1s ease-in-out;
}
#screen_one, #screen_two, #screen_three{
	width:100%; height:100%;
	position: relative;
}
#screen_one{
	background-color: #bbb;
	background-image: url(intro.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#screen_two{
	background:#333;
}
#screen_three{
	background:#fff;

}
#canvas_container{
	width:940px;
	height:380px;
	position: absolute;
	margin:auto;
	top:0; left:0; right:0; bottom:0;
	background-image: url(levels_bg.png);
	background-repeat: no-repeat;
}

#valentines_text, #rewind_text, #replay_text{
	display: none;
	position: absolute;
	bottom:0;
	width:100%;
	height:50px;
	color:#666;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0px;

	-webkit-transition: letter-spacing 5s ease-out;
	-moz-transition: letter-spacing 5s ease-out;
	-ms-transition: letter-spacing 5s ease-out;
	transition: letter-spacing 5s ease-out;

}
#rewind_text, #replay_text{
	color: #ccc;
	letter-spacing: 2px;
	/*text-align: left;*/
}
#end_container{
	width: 800px;
	height: 550px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 25px;

	text-align: center;
}
#support{
	font-size: 30px;
	color:#fff;
	background:#ff7f29;
	padding: 10px;
	width:320px;
	border-radius: 10px;
	margin: 10px auto;
	cursor: pointer;

	position: relative;
	top: 0px;

	text-decoration: none;
	
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;

}
#support:hover{
	background: #ffce87;
	top: -3px;
}
input#your_message{
	display: block;
	width: 100%;
	font-size: 30px;
	padding: 5px;
	border: 2px solid #ddd;
	margin: 5px 0 40px 0;

	color: #666;
	padding-top: 8px;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;

	text-align: center;
}
input#your_link{
	display: block;
	width: 100%;
	font-size: 15px;
	padding: 5px;
	background: #ddd;
	border:none;
	margin: 5px 0 40px 0;

	color: #666;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;

	text-align: center;
}
#share{
	width:330px;
	margin:5px auto;
	height:50px;
	margin-bottom: 30px;
}
#share > div{
	float: left;
	width: 50px; height: 50px;
	margin-right: 5px;

	opacity: 0.25;
	position: relative;
	top:0;
	cursor: pointer;

	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;

}
#share > div:hover{
	opacity: 0.7;
	top:-3px;
}
#share_facebook{
	background: url(../icons/facebook.png);
}
#share_twitter{
	background: url(../icons/twitter.png);
}
#share_plus{
	background: url(../icons/plus.png);
}
#share_tumblr{
	background: url(../icons/tumblr.png);
}
#share_reddit{
	background: url(../icons/reddit.png);
}
#share_stumbleupon{
	background: url(../icons/stumbleupon.png);
	margin-right: 0px;
}
#bottom{
	font-size: 17px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #999;
}
#bottom a{
	color: #aaa;
}
#bottom a:hover{
	color: #ccc;
}

#loading{
	position: fixed;
	top:0; left:0;

	width:100%;
	height: 100%;

	background: #333;
	color: #fff;
	font-size: 30px;
	letter-spacing: 5px;
	text-align:center;

	z-index: 1;
}
#loading > div{
	position: absolute;
	margin: auto;
	top:0; left:0; right:0; bottom:0;
	width:100%; height:50px;
}